/* Application CSS - User Module - HTML Tags */
body{
    width:100% !important;
}
/* Application CSS - User Module - General Configuration */
.application{
    box-shadow:none !important;
}
.application-header{
    top:0;
    bottom:0;
    width:20%;
    position:fixed;
    background-color:#3C4B5F;
}
.application-header-content .application-header-list{
    padding:0;
    list-style:none;
}
.application-header-content .application-header-list .application-header-list-item{
    color:#F1F1F1;
    display:block;
    list-style:none;
    padding:18px;
    font-size:17px;
    margin:0;
    text-decoration:none;
    border-top:1px solid #3A5369;
}
.application-header-content .application-header-list .application-header-list-item:hover{
    font-weight:bold;
}
.application-body{
    width:78.5% !important;
    margin-left:20%;
    padding:12px;
}